{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidebar_links %}
    {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="form-section p-3 mb-3" style="background-color: #f5f5f5;">
                <h5>Type in Dish Details:</h5>
            </div>

            <div class="p-3">
                <div class="form-group">
                    <label for="dish_name">Name:</label>
                    <input type="text" id="dish_name" name="dish_name" class="form-control">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cook_time">Cook Time:</label>
                        <input type="number" id="cook_time" name="cook_time" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prep_time">Prep Time:</label>
                        <input type="number" id="prep_time" name="prep_time" class="form-control">
                    </div>
                </div>

                <button type="button" class="btn btn-secondary">Add to dishes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
