{% load static %}

<html>
    <head>
        <title>The List</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: #590404;">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" href="{% url 'view_menu' %}">My Tapas Menu</span> </a>
                <a href="" style="color:white"><i class="material-icons">add</i></a>
    
            </div>

        </nav>

        <div class="container">
            <div class="row">

                {% block content %}
                {% endblock %}

            </div>
        </div>  
        
        <footer class="footer bg-custom" style="background-color: #590404;">

            <!-- Copyright -->
            <div class="container">&copy; 2020</div>
            <!-- Copyright -->
          
        </footer>

    </body>
</html>